.nav-pills .nav-link {
  /* border-radius: 0; */
  color: #000;
  background-color: #dddd;
  height: fit-content;
  white-space: nowrap;
  background-color: transparent !important;
  color: #000 !important;
  /* border: 1px solid; */
  margin-right: 2px;
}

.nav-pills .nav-item:not(:nth-last-child()) .nav-link {
  border-right: 1px solid white;
}

.tabs-content {
  background-color: #f9fafb;
  border: 1px solid #dddd;
}
